{{#extends "base"}}

{{#block "title"}}Products{{/block}}

{{#block "content"}}
<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Description</th>
            <th>Category</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.description}}</td>
            <td>{{this.category.name}}</td>
            <td>
                {{#each this.tags}}
                    <span class="badge bg-secondary">{{this.name}}</span>
                {{/each}}
            </td>
            <td>
                <a href="/products/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/products/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a href="/products/create" class="btn btn-primary btn-sm">Create</a>
{{/block}}

{{/extends}}